@model WebApplication3.Models.ContactInfo

<h2>Contact Details</h2>

<p>Name: @Model.FirstName @Model.LastName</p>
<p>Email: @Model.EmailId</p>
<p>Mobile: @Model.MobileNo</p>
<p>Designation: @Model.Designation</p>
<p>Company: @Model.CompanyId</p>
<p>Department: @Model.DepartmentId</p>

<a asp-action="Index">Back</a>