@model IEnumerable<WebApplication2.Models.ContactInfo>

<h2>Contact List</h2>

<a href="/contact/create">Create New</a>

<table border="1" style="width:100%;margin-top:10px;">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
        <th>Department</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName @item.LastName</td>
            <td>@item.EmailId</td>
            <td>@item.CompanyName</td>
            <td>@item.DepartmentName</td>
            <td>
                <a href="/contact/edit/@item.ContactId">Edit</a> |
                <a href="/contact/delete/@item.ContactId">Delete</a>
            </td>
        </tr>
    }
</table>